body,ul,li{margin: 0;padding: 0;list-style: none;font-family: "microsoft yahei"}
ul.play{width:314px;border:1px solid #ccc; }
ul.play li{width: 100px;height: 100px;float: left;border: 1px solid #cccccc;margin: 1px;cursor:pointer;
    -moz-background-size:300px 300px; background-size:300px 300px;background-repeat: no-repeat;}
